<!-- templates/haircuts/haircut_detail.html -->
{% extends '_base.html' %}
{% block title %}{{ haircut.barber }}{% endblock title %}
{% block content %}
<div class="haircut-detail">
    <h2><a href="">{{ haircut.barber }}</a></h2>

    <div class="cutphotos-detail">
        {% if haircut.cutside1 %}
            <img src="{{ haircut.cutside1.url }}" alt="Photo 1">
        {% else %}
            <img src="/media/default-image.png" alt="Default image 1">
        {% endif %}
    
        {% if haircut.cutside2 %}
            <img src="{{ haircut.cutside2.url }}" alt="Photo 2">
        {% else %}
            <img src="/media/default-image.png" alt="Default image 2">
        {% endif %}
    
        {% if haircut.cutside3 %}
            <img src="{{ haircut.cutside3.url }}" alt="Photo 3">
        {% else %}
            <img src="/media/default-image.png" alt="Default image 3">
        {% endif %}
    </div>
    
    <p>Shop: {{ haircut.shop }}</p>
    <p>Price: {{ haircut.price }}</p>
    <p>Date: {{ haircut.date }}</p>


</div>
<div class="rating-details">
    <h3>RATING</h3>
    <ul>
        {% for rating in haircut.ratings.all %}
        <li>Rating: {{ rating.rating }}</li>
        {% endfor %}
    </ul>
</div>


{% endblock content %}